<%- include ("templates/header", {tituloWeb: 'Login' } ) %>

<div class="container">
    <div class="wrapper w-70" >
        <div class="logo">
            <img src="/public/images/vet.png" alt="Logo">
        </div>
        <div class="text-center mt-4 name">
            Veterinaria
        </div>
        
        <form class="p-3 mt-3">
            <h6>Email</h6>
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="emailUser" id="emailUser" placeholder="Email">
            </div>
            <h6>Contraseña</h6>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div>
            <button class="btn mt-3" id="btnLogin" type="button" onclick="iniciarSesion()" >Iniciar Sesión</button>
        </form>
        <div class="text-center fs-6">
            <a href="#">¿Olvido la constraseña?</a> o <a href="#">Registrarse</a>
        </div>
        <div class="text-center fs-6 mt-3" id="info"></div>
    </div>
</div>


<script src="../public/js/login.js"></script>
<%- include("templates/footer") %>